{% extends 'ergo/base.html' %}
{% load compress %}
{% load ergohome %}
{% load staticfiles %}


{% block title %}{{ block.super }} Home{% endblock %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'ergohome/ergohome.css' %}">
  {% endcompress %}
{% endblock %}

{% block top-bar-left %}
  <ul class="left">
    <li class="divider"></li>
    <li class="has-dropdown">
      <a href="#">Aplicativos</a>
      <ul class="dropdown">
        {% ergohome_nav_applications %}
      </ul>
    </li>
    <li class="divider"></li>
  </ul>
{% endblock %}
