<!DOCTYPE html>
{% load compress %}
{% load ergo %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ergo{% endblock %}</title>
    {% block css %}
      {% compress css %}
        <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'foundation-icon-fonts/foundation-icons.css' %}">
        <link rel="stylesheet" href="{% static 'ergo/ergo.css' %}">
      {% endcompress %}
    {% endblock %}

    {% block head-js %}
      {% compress js %}
        <script src="{% static 'modernizr/modernizr.js' %}"></script>
      {% endcompress %}
    {% endblock %}

    {% block head-ext %}
      {% ergo_favicon %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block js %}
      {% compress js %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'foundation/js/foundation.js' %}"></script>
        <script>$(document).foundation();</script>
      {% endcompress %}
    {% endblock %}
  </body>
</html>
